<div class="container">
  <form (ngSubmit)="startGame()" [formGroup]="boardDimensions">
    <p>Before you start, please enter what dimensions you would like to play on! :D</p>
    <div class="row" *ngIf="boardDimensions.invalid">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
          <p>
            Please enter valid dimensions! This game only allows dimensions below 50 by 50.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <label for="width">Width</label>
          <input id="width" type="number" class="form-control" formControlName="width">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="height">Height</label>
          <input id="height" type="number" class="form-control" formControlName="height">
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Start the game already!</button>
      </div>
    </div>
  </form>
</div>
