<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <p style="text-align: left;">This is my simplistic implementation of Conway's game of life. I wanted to do this as
      an exercise to learn
      more about html, css and angular. I might update this more in the future to try out new things.
    </p>
    
  </div>
  <hr />
  <h2>News & updates</h2>
  <blockquote>
    <b>New update! 2019-07-18</b>
    <p>
      The game now supports holding the mouse down and dragging it around the board to give life to cells. Enjoy!
    </p>
  </blockquote>
</div>
